.container {
  width: 100%;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @include tablet {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }

  @include desctop {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
