<section class="customers" id="customers">
  <div class="customers__container">
    <h2 class="customers__title">What our Customers Say</h2>
    <p class="customers__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="customers-list list">
      <li class="customers-list__item">
        <ul class="customers-mark list">
          <li class="customers-mark__item">
            <svg class="customers-mark__icon" width="17" height="16">
              <use href="./images/customers/star.svg#star"></use>
            </svg>
          </li>
          <li class="customers-mark__item">
            <svg class="customers-mark__icon" width="17" height="16">
              <use href="./images/customers/star.svg#star"></use>
            </svg>
          </li>
          <li class="customers-mark__item">
            <svg class="customers-mark__icon" width="17" height="16">
              <use href="./images/customers/star.svg#star"></use>
            </svg>
          </li>
          <li class="customers-mark__item">
            <svg class="customers-mark__icon" width="17" height="16">
              <use href="./images/customers/star.svg#star"></use>
            </svg>
          </li>
          <li class="customers-mark__item">
            <svg class="customers-mark__icon" width="17" height="16">
              <use href="./images/customers/star.svg#star"></use>
            </svg>
          </li>
        </ul>
        <p class="customers-list__respond">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="customers-list__box">
          <picture>
            <source
              srcset="
                ./images/customers/man.png    1x,
                ./images/customers/man-2x.png 2x
              "
            />
            <img src="./images/customers/man.png" alt="Man" />
          </picture>
          <div class="customers-list__person">
            <p class="customers-list__name">Sumith Shah</p>
            <p class="customers-list__position">Some Dude</p>
          </div>
        </div>
      </li>
      <li class="customers-list__item">
        <ul class="customers-mark list">
          <li class="customers-mark__item">
            <svg class="customers-mark__icon" width="17" height="16">
              <use href="./images/customers/star.svg#star"></use>
            </svg>
          </li>
          <li class="customers-mark__item">
            <svg class="customers-mark__icon" width="17" height="16">
              <use href="./images/customers/star.svg#star"></use>
            </svg>
          </li>
          <li class="customers-mark__item">
            <svg class="customers-mark__icon" width="17" height="16">
              <use href="./images/customers/star.svg#star"></use>
            </svg>
          </li>
          <li class="customers-mark__item">
            <svg class="customers-mark__icon" width="17" height="16">
              <use href="./images/customers/star.svg#star"></use>
            </svg>
          </li>
          <li class="customers-mark__item">
            <svg class="customers-mark__icon" width="17" height="16">
              <use href="./images/customers/star.svg#star"></use>
            </svg>
          </li>
        </ul>
        <p class="customers-list__respond">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="customers-list__box">
          <picture>
            <source
              srcset="
                ./images/customers/woman.png    1x,
                ./images/customers/woman-2x.png 2x
              "
            />
            <img src="./images/customers/woman.png" alt="Woman" />
          </picture>
          <div class="customers-list__person">
            <p class="customers-list__name">Sumith Shah</p>
            <p class="customers-list__position">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
    <div class="background-wrapper"></div>
  </div>
</section>
