<section class="section favorites" id="menu">
  <div class="container container__favorites">
    <h2 class="title">Some of Our Favorites</h2>
    <p class="paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="list-drop favorites__list gallery">
      <li class="favorites__item">
        <a href="./images/favorites/gamburger-1280-2x.png" class="favorites__link">
          <picture>
            <source
              srcset="
                ./images/favorites/gamburger-480-1x.png 224w,
                ./images/favorites/gamburger-480-2x.png 448w,
                ./images/favorites/gamburger-768-1x.png 268w,
                ./images/favorites/gamburger-768-2x.png 536w,
                ./images/favorites/gamburger-1280-1x.png 315w,
                ./images/favorites/gamburger-1280-2x.png 630w             
               "
              media="(min-width: 480px) 224px, (min-width: 768px) 268px, (min-width: 1280x) 315px"
            />
            <img
              src="./images/favorites/gamburger-1280-1x.png"
              alt="hamburger"
            />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a href="./images/favorites/pasta-1280-2x.png" class="favorites__link">
          <picture>
            <source
              srcset="
                ./images/favorites/pasta-480-1x.png 224w,
                ./images/favorites/pasta-480-2x.png 448w,
                ./images/favorites/pasta-768-1x.png 268w,
                ./images/favorites/pasta-768-2x.png 536w,
                ./images/favorites/pasta-1280-1x.png 315w,
                ./images/favorites/pasta-1280-2x.png 630w
              "
              media="(min-width: 480px) 224px, (min-width: 768px) 268px, (min-width: 1280x) 315px"
            />
            <img src="./images/favorites/pasta-1280-1x.png" alt="pasta" />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a href="./images/favorites/pizza-1280-2x.png" class="favorites__link">
          <picture>
            <source
              srcset="
                ./images/favorites/pizza-480-1x.png 224w,
                ./images/favorites/pizza-480-2x.png 448w,
                ./images/favorites/pizza-768-1x.png 268w,
                ./images/favorites/pizza-768-2x.png 536w,
                ./images/favorites/pizza-1280-1x.png 315w,
                ./images/favorites/pizza-1280-2x.png 630w
              "
              media="(min-width: 480px) 224px, (min-width: 768px) 268px, (min-width: 1280x) 315px"
            />
            <img src="./images/favorites/pizza-1280-1x.png" alt="pizza" />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a href="./images/favorites/chicken-1280-2x.png" class="favorites__link">
          <picture class="favorites_img">
            <source
              srcset="
                ./images/favorites/chicken-768-1x.png 268w,
                ./images/favorites/chicken-768-2x.png 536w,
                ./images/favorites/chicken-1280-1x.png 315w,
                ./images/favorites/chicken-1280-2x.png 630w
              "
              media="(min-width: 768px) 268px, (min-width: 1280x) 315px"
            />
            <img src="./images/favorites/chicken-1280-1x.png" alt="chicken" />
          </picture>
      </li>
      <li class="favorites__item">
        <a href="./images/favorites/salad-1280-2x.png" class="favorites__link">
          <picture>
            <source
              srcset="
                ./images/favorites/salad-768-1x.png 268w,
                ./images/favorites/salad-768-2x.png 536w,
                ./images/favorites/salad-1280-1x.png 315w,
                ./images/favorites/salad-1280-2x.png 630w
              "
              media="(min-width: 768px) 268px, (min-width: 1280x) 315px"
            />
            <img src="./images/favorites/salad-1280-1x.png" alt="salad" />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a href="./images/favorites/borshch-1280-2x.png" class="favorites__link">
          <picture>
            <source
              srcset="
                ./images/favorites/borshch-768-1x.png 268w,
                ./images/favorites/borshch-768-2x.png 536w,
                ./images/favorites/borshch-1280-1x.png 315w,
                ./images/favorites/borshch-1280-2x.png 630w
              "
              media="(min-width: 768px) 268px, (min-width: 1280x) 315px"
            />
            <img src="./images/favorites/borshch-1280-1x.png" alt="borshch" />
          </picture>
        </a>        
      </li>
    </ul>
  </div>
</section>
