<section class="section favorites">
  <div class="container container__favorites">
    <h2 class="title">Some of Our Favorites</h2>
    <p class="paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="list favorites__list">
      <li class="favorites__item">
        <a href="#" class="favorites__link">
          <picture>
            <source
              srcset="
                ./src/images/favorites/gamburger-480-1x 224w,
                ./src/images/favorites/gamburger-480-2x 448w,
                ./src/images/favorites/gamburger-768-1x 268w,
                ./src/images/favorites/gamburger-768-2x 536w,
                ./src/images/favorites/gamburger-1280-1x 315w,
                ./src/images/favorites/gamburger-1280-2x 630w             
               "
              media="(min-width: 480px) 224px, (min-width: 768px) 268px, (min-width: 1280x) 315px"
            />
            <img
              src="./src/images/favorites/gamburger-1280-1x"
              alt="hamburger"
            />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a href="#" class="favorites__link">
          <picture>
            <source
              srcset="
                ./src/images/favorites/pasta-480-1x 224w,
                ./src/images/favorites/pasta-480-2x 448w,
                ./src/images/favorites/pasta-768-1x 268w,
                ./src/images/favorites/pasta-768-2x 536w,
                ./src/images/favorites/pasta-1280-1x 315w,
                ./src/images/favorites/pasta-1280-2x 630w
              "
              media="(min-width: 480px) 224px, (min-width: 768px) 268px, (min-width: 1280x) 315px"
            />
            <img src="./src/images/favorites/pasta-1280-1x" alt="pasta" />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a href="#" class="favorites__link">
          <picture>
            <source
              srcset="
                ./src/images/favorites/pizza-480-1x 224w,
                ./src/images/favorites/pizza-480-2x 448w,
                ./src/images/favorites/pizza-768-1x 268w,
                ./src/images/favorites/pizza-768-2x 536w,
                ./src/images/favorites/pizza-1280-1x 315w,
                ./src/images/favorites/pizza-1280-2x 630w
              "
              media="(min-width: 480px) 224px, (min-width: 768px) 268px, (min-width: 1280x) 315px"
            />
            <img src="./src/images/favorites/pizza-1280-1x" alt="pizza" />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <a href="#" class="favorites__link">
          <picture>
            <source
              srcset="
                ./src/images/favorites/chicken-768-1x 268w,
                ./src/images/favorites/chicken-768-2x 536w,
                ./src/images/favorites/chicken-1280-1x 315w,
                ./src/images/favorites/chicken-1280-2x 630w
              "
              media="(min-width: 768px) 268px, (min-width: 1280x) 315px"
            />
            <img src="./src/images/favorites/chicken-1280-1x" alt="chicken" />
          </picture>
      </li>
      <li class="favorites__item">
        <a href="#" class="favorites__link">
          <picture>
            <source
              srcset="
                ./src/images/favorites/salad-768-1x 268w,
                ./src/images/favorites/salad-768-2x 536w,
                ./src/images/favorites/salad-1280-1x 315w,
                ./src/images/favorites/salad-1280-2x 630w
              "
              media="(min-width: 768px) 268px, (min-width: 1280x) 315px"
            />
            <img src="./src/images/favorites/salad-1280-1x" alt="salad" />
          </picture>
        </a>
      </li>
      <li class="favorites__item">
        <picture>
            <source
              srcset="
                ./src/images/favorites/borshch-768-1x 268w,
                ./src/images/favorites/borshch-768-2x 536w,
                ./src/images/favorites/borshch-1280-1x 315w,
                ./src/images/favorites/borshch-1280-2x 630w
              "
              media="(min-width: 768px) 268px, (min-width: 1280x) 315px"
            />
            <img src="./src/images/favorites/borshch-1280-1x" alt="borshch" />
          </picture>
      </li>
    </ul>
  </div>
</section>
