      <footer class="footer" id="footer">
        
      <div class="footer__container container">
       <div class="footer__list"> 
        <nav class="footer-page__nav">
          <a href="" class="footer__logo logo">
            <svg width="66px" height="52px">
              <use href="./images/symbol-defs.svg#logo" class="logo__link"></use>
            </svg>
          </a>
          <ul class="nav__list nav__list-footer list-drop">
            <li class="nav__item ">
              <a class="nav__link  nav__link--current decoration" href="#header">Home</a>
            </li>
            <li class="nav__item">
              <a class="nav__link decoration" href="#hero">About</a>
            </li>
            <li class="nav__item">
              <a class="nav__link decoration" href="#customers">Service</a>
            </li>
            <li class="nav__item">
              <a class="nav__link decoration" href="#menu">Menu</a>
            </li>
            <li class="nav__item">
              <a class="nav__link decoration" href="#footer">Contact</a>
            </li>
          </ul>
        </nav>
      
      <div class="footer-subscription">
        <p class="footer__title">Subscribe</p>
        <form class="footer-subscription__list">
            <label class="footer-subscription__item"
              ><input
                class="footer-subscription__mail"
                type="email"
                name="user-email"
                placeholder="Enter your email"
                required
            /><p class="error">
              <svg class="error__icon" width="12px" height="12px">
                <use href="./images/symbol-defs.svg#frame"></use>
              </svg>
               Not a valid email address (example@email.com)</p></label>
            
             <button type="submit" class="footer-subscription__btn button">Subscribe</button>
          <div class="checout__list">
             <p class="checkout__text">
          By subscribing you agree to with our</p> &#160;
          <a class="checkout__link" href="#">Privacy Policy</a></label
        ></div>
      </div>
      </div>
      
      <div class="footer__common-list ">
        <ul class="footer__common-item list-drop">
          <li ><a class="footer__common-link"href="#">Privacy Policy</a></li>
          <li ><a class="footer__common-link" href="#">Terms of Service</a></li>
          <li ><a class="footer__common-link" href="#">Cookies Settings</a></li>
        </ul>

        <p class="footer__data">2022 FoodSta. All right reserved.</p>
      </div>
      </div>
      
    </footer>

     <div class="mobile-menu js-menu-container" id="mobile-menu">
      <button class="menu-btn mobile-menu__menu-btn js-close-menu">
        <svg class="menu-btn__icon" width="24px" height="24px">
          <use  href="./images/symbol-defs.svg#close"></use>
        </svg>
        
      </button>

      <ul class="mobile-menu__list list-drop">
        <li class="mobile-menu__item " >
          <a href="#header" class="mobile-menu__link decoration mobile-menu__border-top">Home</a></li>
        <li class="mobile-menu__item" >
          <a href="#hero" class="mobile-menu__link decoration">About</a></li>
        <li class="mobile-menu__item" >
          <a href="#customers" class="mobile-menu__link decoration">Service</a></li>
        <li class="mobile-menu__item" >
          <a href="#menu" class="mobile-menu__link decoration">Menu</a></li>
        <li class="mobile-menu__item" >
          <a href="#footer" class="mobile-menu__link decoration mobile-menu__border-bottom">Contact</a></li>
      </ul>
    </div>

    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
      integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
      crossorigin="anonymous"
    ></script>
    <script defer src="./js/mobile-menu.js"></script>
