<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="header__container">
        <nav class="page-nav">
          <a href="#" class="logo">
            <svg width="66px" height="52px">
              <use href="./images/vector.svg" class="logo_link"></use>
            </svg>
          </a>
          <ul class="nav__list list-drop">
            <li class="nav__item">
              <a class="nav__link nav__link--current decoration" href="#"
                >Home</a
              >
            </li>
            <li class="nav__item">
              <a class="nav__link decoration" href="#">About</a>
            </li>
            <li class="nav__item">
              <a class="nav__link decoration" href="#">Service</a>
            </li>
            <li class="nav__item">
              <a class="nav__link decoration" href="#">Menu</a>
            </li>
            <li class="nav__item">
              <a class="nav__link decoration" href="#">Contact</a>
            </li>
          </ul>
        </nav>
        <button class="modal-btn" type="button">Order Now</button>
      </div>
    </header>
  </body>
</html>
