<section class="hero section" id="hero">
  <div class="hero-container container">
    <div class="hero-container__left-side">
      <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero__discription">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button type="button" class="hero__button" data-modal-open1>
        Order Now
      </button>
    </div>

    <div class="hero-container__right-side">
      <button
        type="button"
        class="arrow arrow-left prev"
        onclick="plusSlides(-1)"
      >
        <svg class="swipe-arrow-icon swipe-left" height="20" width="11">
          <use href="./images/hero/symbol-defs.svg#icon-Vector"></use>
        </svg>
      </button>
      <button
        type="button"
        class="arrow arrow-right next"
        onclick="plusSlides(1)"
      >
        <svg class="swipe-arrow-icon swipe-right" height="20" width="11">
          <use href="./images/hero/symbol-defs.svg#icon-Vector"></use>
        </svg>
      </button>

      <div class="my-slides fade">
        <picture>
          <source
            srcset="
              ./images/hero/bread-1200-@1x.jpg 1x,
              ./images/hero/bread-1200-@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/hero/bread-768-@1x.jpg 1x,
              ./images/hero/bread-768-@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./images/hero/bread-768-@1x.jpg"
            alt="bread and falafel"
            class="slider-img"
          />
        </picture>
      </div>

      <div class="my-slides fade">
        <picture>
          <source
            srcset="
              ./images/hero/salad-1200-@1x.jpg 1x,
              ./images/hero/salad-1200-@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/hero/salad-768-@1x.jpg 1x,
              ./images/hero/salad-768-@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./images/hero/salad-768-@1x.jpg"
            alt="greek salad"
            class="slider-img"
          />
        </picture>
      </div>

      <div class="my-slides fade">
        <picture>
          <source
            srcset="
              ./images/hero/eggs-1200-@1x.jpg 1x,
              ./images/hero/eggs-1200-@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/hero/eggs-768-@1x.jpg 1x,
              ./images/hero/eggs-768-@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./images/hero/eggs-768-@1x.jpg"
            alt="English breakfast"
            class="slider-img"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
