<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="backdrop is-hidden" data-modal2>
      <div class="modal-page">
        <button data-modal-close2 class="modal-button" type="button">
          <svg class="modal__icon">
            <use href="./images/symbol-defs.svg#close-back"></use>
          </svg>
        </button>

        <h2 class="modal-header">Order Form</h2>

        <form name="signup_form" autocomplete="on">
          <div class="modal-block__label">
            <label class="modal__label"
              >Name
              <input
                class="modal-input modal-input__name"
                name="user_name"
                type="text"
                required
                pattern="[a-zA-Zа-яА-ЯіІїЇ]+"
                minlength="3"
                placeholder="Your name"
              />
              <p class="error-msg">
                <svg class="error__icon" width="12px" height="12px">
                  <use href="./images/symbol-defs.svg#frame"></use>
                </svg>
                The name must be between 3 and 25 characters
              </p></label
            >
          </div>

          <div class="modal-block__label">
            <label class="modal__label">
              Phone number <input class="modal-input modal-input__phone"
              type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{2}[0-9]{2}" required
              placeholder="+38(0_ _) _ _ _ _ _ _ _"/>
              <p class="error-msg">
                <svg class="error__icon" width="12px" height="12px">
                  <use href="./images/symbol-defs.svg#frame"></use>
                </svg>
                This phone must be in the format 099 000 00 00
              </p></label
            >
          </div>

          <div class="modal-block__label">
            <label class="modal__label"
              >E-mail
              <input
                class="modal-input modal-input__email"
                type="email"
                name="email"
                placeholder="example@gmail.com"
                minlength="5"
                required
              />
              <p class="error-msg">
                <svg class="error__icon" width="12px" height="12px">
                  <use href="./images/symbol-defs.svg#frame"></use>
                </svg>
                Please enter a valid email address
              </p></label
            >
          </div>

          <button class="modal-submit" type="submit">Send</button>
        </form>
      </div>
    </div>
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
      integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
