<section class="subscribe anim-items" id="subscribe">
  <div class="subscribe__container">
    <div class="subscribe__wrapper">
      <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
      <p class="subscribe__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
      <form class="subscribe-form">
        <label class="subscribe__label">
          <input
            class="subscribe__input"
            type="email"
            name="mail"
            placeholder="Enter your email"
            required
          />
          <span class="subscribe__warning">
            <svg class="subscribe__icon" width="12" height="12">
              <use href="./images/customers/star.svg#icon-warn"></use>
            </svg>
            Not a valid email address (example@email.com)
          </span>
        </label>
        <button type="submit" class="subscribe__button">Subscribe</button>
      </form>
    </div>
  </div>
</section>
