.menu-container {
  position: fixed;
  top: 10px;
  left: 0;
  width: 130px;
  height: 255px;
  padding: 32px;
  background-color: var(--main-bcg);
  z-index: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // transform: translateX(100%);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.menu-container.is-open {
  // transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet {
    display: none;
  }
}

.menu-btn__icon {
  fill: var(--black-text-color);
  width: 40px;
  height: 40px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.menu-btn:focus .menu-btn__icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
