.mobile-menu {
  position: fixed;
  top: 10px;
  right: 0;
  width: 130px;
  height: 255px;

  // padding: 32px;
  background-color: var(--main-bcg);
  z-index: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // transform: translateX(100%);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mobile-menu.is-open {
  // transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  border-radius: 30px 0px 30px 30px;
}

.menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet {
    display: none;
  }
}

.menu-btn__icon {
  fill: black;
  width: 24px;
  height: 24px;
}

.mobile-menu__menu-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
}

.mobile-menu__link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  padding: 16px 0 16px 16px;

  color: #000000;
}

.mobile-menu__wrap {
  width: 130px;
  height: 51px;
}
.mobile-menu__border-top {
  border-radius: 30px 0 0 0;
}

.mobile-menu__border-bottom {
  border-radius: 0 0 30px 30px;
}
.mobile-menu__link:hover,
.mobile-menu__link:focus {
  background-color: var(--accent-color);
  border: 1px solid var(--main-bcg);
}

.mobile-menu__item {
  display: block;
}
