.customers {
  background-color: var(--second-bcg);
}

.customers__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  color: var(--main-text);
}

.customers__text {
  margin-bottom: 32px;

  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: var(--main-text);
}

.customers-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.customers-list__item {
  padding: 8px;
  width: 100%;
  min-height: 247px;
  background-color: var(--main-bcg);
  border-radius: 0 30px 30px 30px;
}

.customers-list__respond {
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--main-text);
}

.customers-list__box {
  display: flex;
  border-right: 1px solid tomato;
  height: 52px;
}

.customers-list__name {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(21 / 14);
  color: var(--main-text);
}

.customers-list__position {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(21 / 14);
  color: var(--main-text);
}
