.list {
  list-style: none;
}

.subscribe {
  position: relative;
  padding-top: 52px;
  padding-bottom: 60px;

  @include tablet {
    padding-top: 82px;
    padding-bottom: 100px;
  }

  @include desctop {
    padding-top: 0;
    margin-top: -20px;
  }
}

.subscribe__container {
  width: 100%;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @include tablet {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }

  @include desctop {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1280px;
  }
}

.subscribe__wrapper {
  @include desctop {
    width: 656px;
  }
}

.subscribe__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 28px;
  line-height: calc(34 / 28);
  color: var(--main-text);

  @include tablet {
    font-size: 42px;
    line-height: calc(50 / 42);
  }
}

.subscribe__text {
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: var(--main-text);

  @include tablet {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}

.subscribe-form {
  text-align: end;

  @include tablet {
    text-align: start;
  }
}

.subscribe__label {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;

  @include tablet {
    margin-right: 22px;
    margin-bottom: 0;
    display: inline-block;
    width: 395px;
  }
  @include desctop {
    margin-right: 32px;
  }
}

.subscribe__input {
  padding: 11px;
  width: 100%;
  max-width: 395px;

  font-weight: 400;
  font-size: 12px;
  line-height: calc(18 / 12);
  background-color: #ffffff;
  border: 0.854167px solid var(--second-bcg);
  border-radius: 30px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(18 / 12);
    color: #505050;
  }

  &:not(:placeholder-shown):valid {
    border: 0.854167px solid var(--accent-color-second);
  }

  &:not(:placeholder-shown):invalid {
    border: 0.854167px solid #ff705d;
  }

  &:invalid:not(:placeholder-shown) + .subscribe__warning {
    opacity: 1;
    visibility: visible;
    color: #ff705d;
  }
}

.subscribe__warning {
  display: block;
  position: absolute;
  font-weight: 400;
  font-size: 10px;
  line-height: calc(15 / 10);
  color: #ff705d;
  margin-top: 4px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__button {
  padding: 11px;

  width: 103px;
  font-weight: 500;
  font-size: 13px;
  line-height: calc(20 / 13);
  background-color: var(--accent-color);
  border-radius: 30px;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--second-bcg);
  }
}

.subscribe::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  content: '';
  display: block;
  width: 280px;
  height: 78px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url(../images/subscribe/banan-320.png);

  @include retina-bgi {
    background-image: url(../images/subscribe/banan-320-2x.png);
  }

  @media screen and(min-width: 480px) {
    background-image: url(../images/subscribe/banan-768.png);

    @include retina-bgi {
      background-image: url(../images/subscribe/banan-768-2x.png);
    }
  }

  @include tablet {
    width: 281px;
    height: 136px;
    top: -74px;
    right: 0;
    transform: translate(25%, 0) rotate(0);

    background-image: url(../images/subscribe/banan-1280.png);
    @include retina-bgi {
      background-image: url(../images/subscribe/banan-1280-2x.png);
    }
  }

  @include desctop {
    width: 608px;
    height: 266px;
    top: -46px;
    margin-left: 34px;
    transform: translate(0, 0) rotate(0);
  }
}

.active.subscribe::before {
  transform: translate(-50%, -50%) rotate(360deg);
  transition: transform 2000ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

@include tablet {
  .active.subscribe::before {
    transform: translate(25%, 0) rotate(360deg);
    transition: transform 2000ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
}

@include desctop {
  .active.subscribe::before {
    transform: translate(0, 0) rotate(360deg);
    transition: transform 2000ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
}
